/* container
---------- ---------- ---------- ---------- ---------- */
.container {
  min-width: 1280px;
  padding: 60px 0 120px;
}

.container.guide {
  background-color: #eeeff4;
}

.container .absorb {
  margin-left: -24px;
}

/* outer_contents
---------- ---------- ---------- ---------- ---------- */
.outer_contents {
  margin-top: 60px;
  padding: 60px 0;
  background-color: #f7f7f7;
}

/* contents
---------- ---------- ---------- ---------- ---------- */
.contents {
  margin-top: 60px;
}

.contents:first-child {
  margin-top: 0;
}

.contents .list_board + .group_pagination {
  display: block;
  margin-top: 48px;
  text-align: center;
}

.contents .group_card + .group_pagination {
  display: block;
  margin-top: 48px;
  text-align: center;
}

.contents .group_pagination + .group_search {
  display: block;
  margin-top: 48px;
  text-align: center;
}

.contents.read .group_half + .list_board {
  margin-top: 48px;
}

.contents.read .group_half + .group_card {
  margin-top: 48px;
}

.contents.read > .group_half > .inner_half {
  width: 459px;
  padding-left: 48px;
  box-sizing: border-box;
}

.contents.read > .group_half > .inner_half:first-child {
  width: 821px;
  padding-left: 0;
}

/* group_button
---------- ---------- ---------- ---------- ---------- */
.group_button .inner_half {
  text-align: right;
}

.group_button .inner_half:first-child {
  text-align: left;
}

.group_button .button_global {
  margin-left: 24px;
}

.group_button .button_global:first-child {
  margin-left: 0;
}

/* group_profile
---------- ---------- ---------- ---------- ---------- */
.group_profile {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
  background-size: 100% auto;
  vertical-align: middle;
}

.group_profile + .link_subject {
  margin-left: 24px;
}

/* list_global
---------- ---------- ---------- ---------- ---------- */
.list_global li {
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 16px;
}

.list_global li + li {
  margin-top: 13px;
}

/* header_guide
---------- ---------- ---------- ---------- ---------- */
.header_guide {
  padding-top: 48px;
  height: 240px;
  box-sizing: border-box;
  background-color: #000;
}

.header_guide .link_brand {
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background: url(/images/common/img_destiny_child.png) 0 50% no-repeat;
  background-size: 100% auto;
}

.header_guide .group_location_guide {
  margin-top: 24px;
  font-family: 'NanumGothic';
  font-size: 14px;
  color: #fff;
}

/* tbl_comm
---------- ---------- ---------- ---------- ---------- */
.tbl_comm {
  width: 100%;
  margin-top: 36px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #ccc;
  border-spacing: 0;
}

.tbl_comm thead th {
  background-color: #eeeff4;
  padding: 12px 24px;
  border-left: 1px solid #ccc;
  font-family: 'NotoSansKR-Regular-Hestia';
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.tbl_comm thead th.fst {
  border-left: 0 none;
}

.tbl_comm tbody tr.fst td {
  border-top: 1px solid #999;
}

.tbl_comm tbody td {
  padding: 24px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-family: 'NotoSansKR-Light-Hestia';
  font-weight: 300;
  font-size: 16px;
}

.tbl_comm tbody td.fst {
  border-left: 0 none;
  text-align: center;
}

/* group_guide
---------- ---------- ---------- ---------- ---------- */
.group_guide {
  margin-top: 48px;
}
