/* header
---------- ---------- ---------- ---------- ---------- */
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  min-width: 1280px;
  height: 75px;
  background-color: #000;
  transition: height 0.4s;
}

.header:before {
  position: absolute;
  top: 75px;
  right: 0;
  left: 0;
  border-top: 1px solid #1a1a1a;
  content: '';
}

.header.active {
  height: 250px;
}

.header .title_brand {
  display: inline-block;
  /* width: 120px; */
  width: 193px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
}

.header .outer_cell {
  width: 100%;
}

.header .link_brand {
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background: url(/images/common/img_destiny_child.png) 0 50% no-repeat;
  background-size: 100% auto;
}

.header .gnb {
  display: inline-block;
  margin-left: 24px;
  vertical-align: middle;
}

/* container
---------- ---------- ---------- ---------- ---------- */
.container {
  overflow: hidden;
  min-width: 1280px;
  padding: 60px 0 0;
  /* background-color: #373737; */
}

.container .absorb {
  margin-left: -24px;
}

/* outer_contents
---------- ---------- ---------- ---------- ---------- */
.outer_contents {
  margin-top: 60px;
  padding: 60px 0;
  background-color: #f7f7f7;
}

/* contents
---------- ---------- ---------- ---------- ---------- */
.contents {
  margin-top: 60px;
}

.contents:first-child {
  margin-top: 0;
}

.contents .list_board + .group_pagination {
  display: block;
  margin-top: 48px;
  text-align: center;
}

.contents .group_card + .group_pagination {
  display: block;
  margin-top: 48px;
  text-align: center;
}

.contents .group_pagination + .group_search {
  display: block;
  margin-top: 48px;
  text-align: center;
}

.contents.read .group_half + .list_board {
  margin-top: 48px;
}

.contents.read .group_half + .group_card {
  margin-top: 48px;
}

.contents.read > .group_half > .inner_half {
  width: 459px;
  padding-left: 48px;
  box-sizing: border-box;
}

.contents.read > .group_half > .inner_half:first-child {
  width: 821px;
  padding-left: 0;
}

/* list_gnb
---------- ---------- ---------- ---------- ---------- */
.list_gnb {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.list_gnb li {
  display: inline-block;
  position: relative;
  padding: 12px 0;
  vertical-align: top;
}

.list_gnb .link_gnb {
  display: block;
  min-width: 160px;
  padding: 12px 24px;
  box-sizing: border-box;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.list_gnb .list_lnb {
  /* display: none; */
  /* margin-top: 18px; */
}

/* list_lnb
---------- ---------- ---------- ---------- ---------- */
.list_lnb {
  position: absolute;
  top: 75px;
  right: 0;
  left: 0;
  z-index: 1;
  font-size: 0;
}

.list_lnb li {
  display: block;
  padding: 0;
}

.list_lnb li + li {
  margin-top: 6px;
}

.list_lnb .link_lnb {
  display: block;
  padding: 6px 24px;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.list_lnb .link_lnb:hover,
.list_lnb .link_lnb:focus {
}

/* area_hero
---------- ---------- ---------- ---------- ---------- */
.area_hero {
  position: relative;
  padding-top: 75px;
  background-color: #f7f7f7;
}

/* list_hero
---------- ---------- ---------- ---------- ---------- */
.list_hero {
  position: relative;
  margin-bottom: 0;
}

.list_hero li {
  height: auto;
  background-position: 50% 0;
  background-repeat: no-repeat;
  /* background-size:cover */
}

.list_hero .link_hero {
  display: block;
  position: relative;
  max-width: 1280px;
  height: 588px;
  /* margin: 1px auto; */
  margin: 0 auto;
}

.list_hero .slick-list {
  /* padding: 4px; */
}

.list_hero .information_hero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

/* .list_hero .inner_cell {
  position: relative;
  top: -60px;
} */

.list_hero .text_date {
  display: block;
  font-family: 'NotoSansKR-Medium-Hestia';
  font-size: 20px;
}

.list_hero .title_hero {
  display: block;
  margin-top: 12px;
  font-size: 52px;
  line-height: 1.2;
}

.list_hero .text_hero {
  margin-top: 24px;
  font-size: 16px;
}

/* hero_indicator
---------- ---------- ---------- ---------- ---------- */
.hero_page {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 1280px;
  margin: -56px 0 0 -705px;
}

.hero_page .button_page {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 29px;
  height: 57px;
  border: 0 none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.hero_page .slick-prev {
  left: 0;
  background-position: 0 -60px;
}

.hero_page .slick-next {
  right: 0;
  background-position: -40px -60px;
}

/* hero_indicator
---------- ---------- ---------- ---------- ---------- */
.hero_indicator {
  overflow: visible;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 1280px;
  margin: 0 auto;
  font-size: 0;
  text-align: right;
}

.hero_indicator_page {
  display: inline-block;
  width: 70px;
  border-left: 1px solid #1c1e1e;
  box-sizing: border-box;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: top;
}

.hero_indicator_page .emph_page {
  font-style: normal;
  font-size: 16px;
  color: #fff;
  line-height: 70px;
}

.hero_indicator_page .text_slash,
.hero_indicator_page .text_total {
  font-size: 16px;
  color: #868686;
  line-height: 70px;
}

.hero_indicator_arrow {
  display: inline-block;
  position: relative;
  width: 141px;
  margin-left: 1px;
  border-left: 1px solid #1c1e1e;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: top;
}

.hero_indicator_arrow:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 16px;
  margin: -8px 0 0 -1px;
  background-color: #e9e9e9;
  content: '';
}

.hero_indicator_arrow .button_indicator {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: 0;
  border: 0 none;
  background-color: transparent;
  font-size: 1px;
  color: transparent;
  vertical-align: top;
  cursor: pointer;
}

.hero_indicator_arrow .button_indicator:before {
  content: '';
}

.hero_indicator_arrow .button_indicator:focus {
  z-index: 1;
}

.hero_indicator .button_detail {
  display: inline-block;
  position: relative;
  margin-left: 1px;
  vertical-align: top;
  max-width: 1280px;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* group_tab
---------- ---------- ---------- ---------- ---------- */
.group_tab {
  box-sizing: border-box;
  font-size: 0;
}

.list_tab {
  position: relative;
  padding-top: 48px;
  border: 1px solid #e9e9e9;
}

/* .list_tab li {
  background-color: #fff;
} */

.list_tab li + li .link_tab {
  left: 33.33333333333333%;
}

.list_tab li + li + li .link_tab {
  left: 66.66666666666667%;
}

.list_tab .link_tab {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 33.33333333333333%;
  padding: 12px;
  border-left: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f7f7f7;
  text-align: center;
}

.list_tab .link_tab:hover,
.list_tab .link_tab:focus {
  z-index: 1;
}

.list_tab .current .link_tab {
  border-color: transparent;
  background-color: #fff;
}

.list_tab .list_common {
  display: none;
  padding: 12px;
  height: 181px;
  box-sizing: border-box;
}

.list_tab .current .list_common {
  display: block;
}

.list_tab .list_common li + li {
  margin-top: 13px;
}

.list_tab .list_common .link_common {
  display: inline-block;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 14px;
  vertical-align: top;
}

.list_tab .list_common .link_common:hover,
.list_tab .list_common .link_common:focus {
}

/* group_banner
---------- ---------- ---------- ---------- ---------- */
.group_banner {
  position: relative;
  box-sizing: border-box;
  font-size: 0;
}

.group_banner .slick-slider {
  margin-bottom: 0;
}

.group_banner .link_banner {
  display: block;
  height: 231px;
  background-color: #f7f7f7;
}

.group_banner .thumbnail_banner {
  max-width: 100%;
}

.group_banner .banner_page {
  position: absolute;
  top: 0;
  right: 0;
}

.group_banner .banner_page:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 1px;
  height: 16px;
  margin: -8px 0 0 -1px;
  background-color: #e9e9e9;
  content: '';
}

.banner_page .button_page {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  margin: 0;
  border: 0 none;
  background-color: #fff;
  font-size: 1px;
  color: transparent;
  vertical-align: top;
  cursor: pointer;
}

.banner_page .button_page:focus {
  z-index: 1;
}

/* group_card
---------- ---------- ---------- ---------- ---------- */
.group_card {
  padding-top: 24px;
  border-top: 2px solid #000;
}

.group_card.clean {
  padding-top: 0;
  border-top: 0 none;
}

.group_card.clean .information_card {
  border-color: transparent;
}

/* list_card
---------- ---------- ---------- ---------- ---------- */
.list_card {
  margin: -24px 0 0 -24px;
  /* padding-top: 50px; */
  font-size: 0;
}

.list_card li {
  display: inline-block;
  width: 33.33333333333333%;
  padding: 24px 0 0 24px;
  box-sizing: border-box;
  vertical-align: top;
}

.list_card .link_card {
  display: block;
  font-family: 'NotoSansKR-DemiLight-Hestia';
  font-size: 14px;
}

.list_card .frame_card {
  display: block;
  position: relative;
  padding-top: 56.25%;
  background-color: #f7f7f7;
}

.list_card .thumbnail_card {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
}

.list_card .information_card {
  display: block;
  /* height: 107px; */
  padding: 18px 24px;
  border: 1px solid #e9e9e9;
  border-top: 0 none;
  box-sizing: border-box;
  background-color: #fff;
}

.list_card .emph_card {
  display: block;
  font-style: normal;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 14px;
  color: #888;
}

.list_card .text_card {
  display: block;
  font-size: 16px;
  color: #555;
}

.list_card .group_etc {
  margin-top: 18px;
}

/* group_etc
---------- ---------- ---------- ---------- ---------- */
.group_etc {
  display: inline-block;
  vertical-align: top;
}

.group_etc .text_etc {
  margin-left: 12px;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 14px;
}

.group_etc .text_etc:first-child {
  margin-left: 0;
}

/* banner_media
---------- ---------- ---------- ---------- ---------- */
.banner_media {
  position: relative;
}

/* hgroup_media
---------- ---------- ---------- ---------- ---------- */
.hgroup_media {
  display: inline-block;
  width: 33.33333333333333%;
  padding-left: 24px;
  box-sizing: border-box;
  vertical-align: top;
}

.hgroup_media .inner_media {
  padding-top: 100%;
  background-color: #f7f7f7;
}

/* list_media
---------- ---------- ---------- ---------- ---------- */
.list_media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.list_media .link_media {
  display: block;
  position: relative;
  padding-top: 100%;
}

.list_media .thumbnail_media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.list_media .owl-stage {
  /* margin-left: 24px;
  padding-left: 0 !important; */
  background-color: orange;
}

/* footer
---------- ---------- ---------- ---------- ---------- */
.footer {
  background: #13151a;
}

.group_policy {
  padding: 24px 0;
  text-align: center;
}

.group_company .text_copyright {
  margin-top: 2px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #707172;
}

.list_policy {
  font-size: 0;
}

.list_policy li {
  display: inline-block;
  vertical-align: top;
}

.list_policy .link_policy {
  display: block;
  padding: 6px 12px;
  font-size: 16px;
  color: #dadadb;
}

.group_company {
  padding: 31px 0 92px;
  border-top: 1px solid #24272d;
  text-align: center;
  line-height: 22px;
  font-size: 13px;
}

.list_company {
  width: 640px;
  margin: 0 auto;
  font-size: 13px;
}

.list_company li {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  color: #707172;
  letter-spacing: -0.2px;
}

/* footer
---------- ---------- ---------- ---------- ---------- */
.sub_visual {
  position: relative;
  overflow: hidden;
  padding-top: 75px;
}

.sub_visual_lst .slide {
  overflow: hidden;
  position: relative;
}

.sub_visual_lst .slide a {
  display: block;
  height: 412px;
}

.sub_visual_lst .thumbnail_container img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sub_visual_lst .desc_container {
  position: absolute;
  top: 122px;
  left: 50%;
  margin-left: -633px;
  color: #fff;
}

.sub_visual_lst .desc_container .date {
  font-family: 'Roboto';
  font-size: 16px;
}

.sub_visual_lst .desc_container .evt_tit {
  margin-top: 16px;
  margin-left: -5px;
  font-family: 'NanumMyeongjo';
  font-size: 60px;
  letter-spacing: -4.5px;
}

.sub_visual_lst .desc_container .evt_desc {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.37px;
}

.sub_visual_lst .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 80px;
  margin-top: -40px;
}

.sub_visual_lst .slick-arrow span {
  display: inline-block;
  color: #fff;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

.sub_visual_lst .slick-prev {
  left: 50%;
  margin-left: -720px;
}

.sub_visual_lst .slick-prev span {
  background-size: 1335px 1279px;
  background-position: -968px -397px;
  width: 26px;
  height: 52px;
}

.sub_visual_lst .slick-next {
  right: 50%;
  margin-right: -720px;
}

.sub_visual_lst .slick-next span {
  background-size: 1335px 1279px;
  background-position: -1073px -1078px;
  width: 26px;
  height: 52px;
}

.sub_visual_lst .slick-dots {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -633px;
  bottom: 82px;
}

.sub_visual_lst .slick-dots li {
  display: inline-block;
  margin-right: 4px;
}

.sub_visual_lst .slick-dots li button {
  width: 30px;
  height: 2px;
  background-color: #74777e;
  font-size: 0;
  line-height: 0;
}

.sub_visual_lst .slick-dots li.slick-active button {
  background-color: #fff;
}

/* sub_sticky
---------- ---------- ---------- ---------- ---------- */
.sub_sticky {
  position: absolute;
  width: 100%;
  /* padding: 77px 0 32px; */
  padding: 0 0 32px;
  min-width: 1730px;
  background-color: #fff;
  z-index: 1;
}

.sub_sticky .tit {
  font-size: 40px;
  font-weight: normal;
  color: #222;
  letter-spacing: -0.02em;
}

.sub_sticky .breadcrumb {
  position: absolute;
  top: 32px;
  right: 20px;
}

.sub_sticky .tab_lst {
  margin-top: 41px;
}

.sub_sticky .tab_lst .tab_itm:not(:last-child) {
  border-right: none;
}

.sub_sticky .tab_lst.has_border {
  padding-top: 50px;
  border-top: 2px solid #384859;
}

.sub_sticky .filter_time {
  position: absolute;
  top: 33px;
  right: 20px;
}

.sub_sticky .filter_time .btn_time {
  font-size: 14px;
  color: #868686;
  line-height: 18px;
}

.sub_sticky .filter_time .btn_time:after {
  display: inline-block;
  margin: 4px 0 0 10px;
  background-size: 1335px 1279px;
  background-position: -1094px -666px;
  width: 11px;
  height: 8px;
  vertical-align: top;
  content: '';
}

.sub_sticky .filter_time .select_lst {
  top: 26px;
  right: 0;
  width: 140px;
  border: 1px solid #ebebeb;
}

.sub_sticky .filter_time.open .btn_time:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* tbl_lst
---------- ---------- ---------- ---------- ---------- */
.tbl_lst {
  width: 100%;
  border-top: 2px solid #384859;
  border-bottom: 1px solid #a4a4a4;
  font-size: 16px;
  text-align: center;
}

.tbl_lst.bot_line_gray {
  border-bottom: 1px solid #e5e5e5;
}

.tbl_lst.top_line_gray {
  border-top: 1px solid #e5e5e5;
}

.tbl_lst.top_line_gray2 {
  border-top: 1px solid #a4a4a4;
}

.tbl_lst.high_lh th,
.tbl_lst.high_lh td {
  height: 70px;
}

.tbl_lst.type1 th,
.tbl_lst.type1 td {
  padding-top: 8px;
  padding-bottom: 7px;
}

.tbl_lst th {
  font-weight: 400;
}

.tbl_lst thead th {
  height: 60px;
  border-bottom: 1px solid #dfdfdf;
  font-weight: 400;
  background-color: #f8f8f8;
}

.tbl_lst thead th.txt_left {
  padding-left: 40px;
}

.tbl_lst tbody tr {
  border-top: 1px solid #dfdfdf;
}

.tbl_lst tbody tr:first-child {
  border-top: 0;
}

.tbl_lst tbody tr.top_rank_row td {
  font-weight: 400;
}

.tbl_lst tbody tr.top_rank_row td .r_change {
  top: 10px;
}

.tbl_lst .nodata {
  height: 480px;
}

.tbl_lst .nodata .ico {
  display: block;
  margin: 8px auto 0;
}

.tbl_lst .nodata .txt_msg {
  display: block;
  margin: 12px auto 0;
  font-size: 24px;
  font-weight: normal;
  color: #868686;
  letter-spacing: -0.02em;
  text-align: center;
}

.tbl_lst td {
  height: 60px;
  font-weight: 300;
  color: #222;
}

.tbl_lst td.txt_left {
  padding-left: 40px;
}

.tbl_lst td.guild_name_cell {
  padding-left: 145px;
}

.tbl_lst td.guild_name_cell a {
  font-size: 16px;
  color: #222222;
}

.tbl_lst td.guild_name_cell2 {
  padding-left: 88px;
}

.tbl_lst td.guild_name_cell2 img {
  margin-top: 4px;
}

.tbl_lst td a {
  display: inline-block;
  font-size: 0;
  line-height: 20px;
  vertical-align: top;
}

.tbl_lst td a:hover {
  text-decoration: underline;
}

.tbl_lst td a:hover .tit {
  text-decoration: underline;
}

.tbl_lst td a.btn {
  text-decoration: none;
}

.tbl_lst td .lbl_outline + .tit {
  max-width: 740px;
  margin-left: 10px;
}

.tbl_lst td .tit {
  overflow: hidden;
  display: inline-block;
  max-width: 870px;
  font-size: 16px;
  color: #222;
  line-height: 28px;
  letter-spacing: -0.005em;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbl_lst td .tit + .ico_attach {
  margin-left: 12px;
}

.tbl_lst td .number {
  display: inline-block;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 300;
  color: #868686;
  line-height: 25px;
  vertical-align: top;
}

.tbl_lst td .number + .txt_new {
  margin-left: 4px;
}

.tbl_lst td .ico_attach {
  display: inline-block;
  margin-left: 4px;
}

.tbl_lst td .txt_new {
  line-height: 26px;
}

.tbl_lst td em {
  font-weight: bold;
}

.tbl_lst td .ico_change {
  display: inline-block;
  font-size: 11px;
  margin: 0 4px;
  line-height: 19px;
}

.tbl_lst td .txt_result {
  font-size: 14px;
}

.tbl_lst .cell_v1 {
  background-color: #f8f8f8;
}

.tbl_lst .cell_v1 td {
  font-weight: 400;
}

.tbl_lst .cell_v2 {
  background-color: #f3f3f4;
}

.tbl_lst .cell_v3 {
  background-color: #f2f2f2;
}

.tbl_lst .r_num {
  display: inline-block;
  position: relative;
  width: 26px;
  vertical-align: middle;
}

.tbl_lst .r_num .r_change {
  position: absolute;
  top: 7px;
  left: 100%;
  height: 9px;
  margin-left: 10px;
  font-size: 13px;
  line-height: 9px;
  color: #868686;
  white-space: nowrap;
}

.tbl_lst .r_num .r_change:before {
  display: inline-block;
  width: 7px;
  height: 1px;
  margin-right: 7px;
  background-color: #8b8c92;
  vertical-align: middle;
  content: '';
}

.tbl_lst .r_num .r_change.r_up:before,
.tbl_lst .r_num .r_change.r_down:before {
  display: inline-block;
  background-color: transparent;
}

.tbl_lst .r_num .r_change.r_up:before {
  margin-top: -3px;
}

.tbl_lst .r_num .r_change.r_down:before {
  margin-top: -2px;
}

.tbl_lst .r_num [class^='lbl_top_'] {
  display: block;
}

.tbl_lst .lbl_top_1 {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.tbl_lst .lbl_top_2 {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.tbl_lst .lbl_top_3 {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.tbl_lst .sort_btn {
  font-size: 16px;
  outline: none;
}

.tbl_lst .sort_btn:after {
  display: inline-block;
  margin-left: 8px;
  margin-top: 9px;
  vertical-align: top;
  content: '';
}

.tbl_lst .sort_btn.no_btn:after {
  margin-top: 7px;
}

.tbl_lst .sort_btn.sort_up:after {
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}

.tbl_lst.question a {
  display: block;
  position: relative;
  line-height: 72px;
}

.tbl_lst.question a:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50px;
  background-size: 1335px 1279px;
  background-position: -1327px -967px;
  width: 8px;
  height: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
}

.tbl_lst.question a:hover .tit {
  text-decoration: none;
}

.tbl_lst.question .txt_q {
  display: inline-block;
  width: 117px;
  font-family: 'notosans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #404dab;
  line-height: 69px;
  text-align: center;
  vertical-align: top;
}

.tbl_lst.question .lbl_outline {
  vertical-align: middle;
}

.tbl_lst.question .tit {
  padding-left: 0;
  line-height: 72px;
}

.tbl_lst.download_faq tr > *:first-child {
  padding-left: 50px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tbl_lst.download_faq tr > *:nth-child(2) {
  padding-right: 50px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tbl_lst.novel .txt_left {
  padding-left: 20px;
}

.tbl_lst.novel .tit {
  max-width: 240px;
  font-weight: 400;
  color: #222;
}

.tbl_lst.novel .number {
  margin-left: 8px;
}

.tbl_lst.novel .txt_novel {
  display: inline-block;
  max-width: 776px;
  padding: 17px 0 18px;
  font-size: 14px;
  font-weight: 300;
  color: #222;
  line-height: 20px;
  vertical-align: top;
}

.tbl_lst.novel .txt_novel:hover {
  text-decoration: underline;
}

.tbl_lst.novel + .pagination {
  margin-top: 100px;
}

.tbl_lst .dash {
  font-size: 18px;
  font-weight: 300;
  padding: 0 12px;
}

.tbl_lst .at_sign {
  font-size: 16px;
  font-weight: 300;
}

.tbl_lst .at_sign + .domain {
  margin: -6px 0 0 21px;
}

.tbl_lst .sms {
  margin-left: 44px;
}

.tbl_lst .certification_box {
  display: inline-block;
  margin-left: 27px;
}

.tbl_lst .certification_box:before {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #c8c8cf;
  vertical-align: middle;
  content: '';
}

.tbl_lst .certification_box input {
  width: 104px;
  margin-left: 25px;
}

.tbl_lst .certification_box .countdown {
  font-weight: 400;
  color: #404dab;
}

.tbl_lst .certification_box .btn {
  margin-left: 12px;
}

.tbl_lst .message {
  overflow: hidden;
  display: none;
  font-size: 14px;
  font-weight: 300;
  color: #b83d3d;
  line-height: 24px;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbl_lst .validate .message {
  display: block;
}

/* hgroup_global
---------- ---------- ---------- ---------- ---------- */
.hgroup_global {
  margin-bottom: 24px;
}

.hgroup_global .title_common {
  display: inline-block;
  font-family: 'NotoSansKR-Medium-Hestia';
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.hgroup_global .inner_half {
  text-align: right;
  vertical-align: bottom;
}

.hgroup_global .inner_half:first-child {
  text-align: left;
}

/* group_location
---------- ---------- ---------- ---------- ---------- */
.group_location {
  display: inline-block;
  font-size: 0;
}

.group_location .text_location {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
}

/* list_board
---------- ---------- ---------- ---------- ---------- */
.list_board {
  border-top: 2px solid #000;
  border-bottom: 1px solid #e9e9e9;
  font-size: 0;
}

.list_board li {
  padding: 16px 0;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 14px;
  text-align: center;
}

.list_board li + li {
  border-top: 1px solid #e9e9e9;
}

.list_board .text_common {
  display: inline-block;
  width: 12%;
  box-sizing: border-box;
  vertical-align: middle;
}

.list_board .text_number {
  width: 6%;
}

.list_board .text_subject {
  width: 64%;
  padding: 0 24px;
  box-sizing: border-box;
  text-align: left;
}

.list_board .link_subject {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

.list_board .text_write {
  width: 12%;
  text-align: left;
}

.list_board .text_count {
  width: 6%;
}

/* group_pagination
---------- ---------- ---------- ---------- ---------- */
.group_pagination {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.group_pagination .link_pagination {
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid transparent;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 14px;
  background-color: #fff;
  vertical-align: middle;
}

.group_pagination .current {
  border-color: #000;
  font-family: 'NotoSansKR-Regular-Hestia';
}

/* group_button
---------- ---------- ---------- ---------- ---------- */
.group_button {
}

.group_button .inner_half {
  text-align: right;
}

.group_button .inner_half:first-child {
  text-align: left;
}

.group_button .button_global {
  margin-left: 24px;
}

.group_button .button_global:first-child {
  margin-left: 0;
}

/* group_read
---------- ---------- ---------- ---------- ---------- */
.group_read {
  border-top: 2px solid #000;
}

/* read_board
---------- ---------- ---------- ---------- ---------- */

/* read_header
---------- ---------- ---------- ---------- ---------- */
.read_header {
}

.read_header .title_local {
  display: block;
  padding: 16px 24px;
  font-family: 'NotoSansKR-Light-Hestia';
  font-weight: 300;
  font-size: 18px;
}

.read_header .text_local {
  margin-left: 24px;
  vertical-align: middle;
}

.read_contents {
  padding: 16px 24px;
  min-height: 320px;
  border-top: 1px solid #e9e9e9;
  box-sizing: border-box;
  font-size: medium;
}

.read_contents img {
  max-width: 100%;
}

.read_footer {
  border-top: 1px solid #e9e9e9;
}

.read_footer .group_button {
  margin-top: 24px;
}

.information_local {
  padding: 16px 24px;
  border-top: 1px solid #e9e9e9;
}

.information_local .text_local {
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 14px;
}

.information_local .inner_half {
  text-align: right;
}

.information_local .inner_half .text_local {
  margin-left: 24px;
}

.information_local .inner_half .text_local:first-child {
  margin-left: 0;
}

.information_local .inner_half:first-child {
  text-align: left;
}

.information_local .inner_half:first-child .text_local {
  margin-left: 0;
}

/* group_profile
---------- ---------- ---------- ---------- ---------- */
.group_profile {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
  vertical-align: middle;
}

.group_profile + .link_subject {
  margin-left: 24px;
}

/* group_aside
---------- ---------- ---------- ---------- ---------- */
.group_aside .title_aside {
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 32px;
  line-height: 1;
}

.group_aside .list_aside {
  margin-top: 24px;
}

.group_aside .group_banner {
  margin-top: 24px;
}

/* list_aside
---------- ---------- ---------- ---------- ---------- */
.list_aside {
  border-top: 2px solid #000;
  border-bottom: 1px solid #e9e9e9;
}

.list_aside li {
}

.list_aside li + li {
  border-top: 1px solid #e9e9e9;
}

.list_aside .current .link_aside {
  padding: 26px 24px 27px;
  font-family: 'NotoSansKR-Medium-Hestia';
  font-size: 18px;
}

.list_aside .link_aside {
  display: inline-block;
  padding: 18px 24px;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 16px;
}

/* group_search
---------- ---------- ---------- ---------- ---------- */
.group_search {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.group_search .group_field {
  margin: 0 12px;
}

.group_search .box_field {
  min-width: 240px;
}

/*
.group_search .select_global {
  width: 30%;
  vertical-align: top;
}

.group_search .link_global {
  margin-top: 10px;
}

.group_search .group_field {
  width: 70%;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
*/

/* group_select
---------- ---------- ---------- ---------- ---------- */
.group_select {
  display: inline-block;
  position: relative;
  z-index: 1;
  min-width: 120px;
  height: 48px;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  background-position: 100% 50%;
  vertical-align: top;
}

.group_select .label_select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  padding: 0 12px;
  font-size: 0;
  text-align: left;
}

.group_select .text_select {
  display: inline-block;
  font-size: 14px;
  line-height: 46px;
  vertical-align: middle;
}

.group_select .icon_global {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-position: 0 -35px;
}

.group_select .select_local {
  width: 100%;
  height: 46px;
  border: 0 none;
  font-family: inherit;
  line-height: 46px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* group_field
---------- ---------- ---------- ---------- ---------- */
.group_field {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.group_field .label_field {
  font-size: 14px;
}

/* box_field
---------- ---------- ---------- ---------- ---------- */
.box_field {
  display: inline-block;
  min-width: 120px;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.box_field .field_local {
  width: 100%;
  height: 46px;
  padding: 10px;
  border: 0 none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
}

.group_field .field_local[type='file'] {
  height: auto;
}

/* group_media
---------- ---------- ---------- ---------- ---------- */
.group_media .inner_triple.first {
  width: 320px;
  height: 360px;
}

.group_media .inner_triple {
  position: relative;
  width: 640px;
  height: 360px;
  padding-left: 0;
}

.group_media .inner_triple.last {
  width: 320px;
  height: 360px;
}

.group_media .link_media {
  display: block;
  position: relative;
  padding-top: 56.25%;
}

.group_media .link_media:focus {
  z-index: 10;
}

.group_media .thumbnail_media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.group_media .outer_cell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.group_media .inner_cell:before {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -18px;
  border-top: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 36px solid #fff;
  content: '';
}

.group_media .text_media {
  display: block;
  margin-top: 12px;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.group_media .dummy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.5;
}

.test123 li {
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 16px;
}

.test123 li + li {
  margin-top: 13px;
}

/* group_child
---------- ---------- ---------- ---------- ---------- */
.group_child {
  position: relative;
  height: 640px;
}

.group_child .text_child {
  font-family: 'NotoSansKR-Regular-Hestia';
  font-size: 22px;
  font-weight: 400;
}
.group_child .description_child {
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 16px;
  word-break: keep-all;
}

.group_child .thumbnail_child {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 640px;
}

/* hgroup_child
---------- ---------- ---------- ---------- ---------- */
.hgroup_child .title_child {
  font-family: 'NotoSansKR-Medium-Hestia';
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
}

/* list_property
---------- ---------- ---------- ---------- ---------- */
.list_property {
  font-size: 0;
}

.list_property li {
  display: inline-block;
  font-family: 'NotoSansKR-Light-Hestia';
  font-size: 16px;
  vertical-align: top;
}

.list_property li + li {
  margin-left: 12px;
}

.list_property .thumbnail_property {
  display: inline-block;
  width: 24px;
  vertical-align: middle;
}

.list_property .text_property {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
