/* @font-face
---------- ---------- ---------- ---------- ---------- */
@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/roboto/Roboto-Thin.eot);
  src: url(/fonts/roboto/Roboto-Thin.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/roboto/Roboto-Thin.woff) format('woff'), url(/fonts/roboto/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/roboto/Roboto-Light.eot);
  src: url(/fonts/roboto/Roboto-Light.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/roboto/Roboto-Light.woff) format('woff'), url(/fonts/roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/roboto/Roboto-Regular.eot);
  src: url(/fonts/roboto/Roboto-Regular.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/roboto/Roboto-Regular.woff) format('woff'), url(/fonts/roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/roboto/Roboto-Medium.eot);
  src: url(/fonts/roboto/Roboto-Medium.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/roboto/Roboto-Medium.woff) format('woff'), url(/fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/roboto/Roboto-Bold.eot);
  src: url(/fonts/roboto/Roboto-Bold.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/roboto/Roboto-Bold.woff) format('woff'), url(/fonts/roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/roboto/Roboto-Black.eot);
  src: url(/fonts/roboto/Roboto-Black.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/roboto/Roboto-Black.woff) format('woff'), url(/fonts/roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/roboto/Roboto-Black.eot);
  src: url(/fonts/roboto/Roboto-Black.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/roboto/Roboto-Black.woff) format('woff'), url(/fonts/roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-Thin-Hestia';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansKR/NotoSansKR-Thin-Hestia.eot);
  src: url(/fonts/NotoSansKR/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NotoSansKR/NotoSansKR-Thin-Hestia.woff) format('woff'), url(/fonts/NotoSansKR/NotoSansKR-Thin-Hestia.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-Light-Hestia';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansKR/NotoSansKR-Light-Hestia.eot);
  src: url(/fonts/NotoSansKR/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NotoSansKR/NotoSansKR-Light-Hestia.woff) format('woff'), url(/fonts/NotoSansKR/NotoSansKR-Light-Hestia.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-DemiLight-Hestia';
  font-style: normal;
  font-weight: 350;
  src: url(/fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.eot);
  src: url(/fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.woff) format('woff'), url(/fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-Regular-Hestia';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSansKR/NotoSansKR-Regular-Hestia.eot);
  src: url(/fonts/NotoSansKR/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NotoSansKR/NotoSansKR-Regular-Hestia.woff) format('woff'), url(/fonts/NotoSansKR/NotoSansKR-Regular-Hestia.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-Medium-Hestia';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/NotoSansKR/NotoSansKR-Medium-Hestia.eot);
  src: url(/fonts/NotoSansKR/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NotoSansKR/NotoSansKR-Medium-Hestia.woff) format('woff'), url(/fonts/NotoSansKR/NotoSansKR-Medium-Hestia.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-Bold-Hestia';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NotoSansKR/NotoSansKR-Bold-Hestia.eot);
  src: url(/fonts/NotoSansKR/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NotoSansKR/NotoSansKR-Bold-Hestia.woff) format('woff'), url(/fonts/NotoSansKR/NotoSansKR-Bold-Hestia.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-Black-Hestia';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/NotoSansKR/NotoSansKR-Black-Hestia.eot);
  src: url(/fonts/NotoSansKR/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NotoSansKR/NotoSansKR-Black-Hestia.woff) format('woff'), url(/fonts/NotoSansKR/NotoSansKR-Black-Hestia.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  src: url(/fonts/NanumGothic/NanumGothicLight.eot);
  src: url(/fonts/NanumGothic/NanumGothicLight.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NanumGothic/NanumGothicLight.woff) format('woff'), url(/fonts/NanumGothic/NanumGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NanumGothic/NanumGothic.eot);
  src: url(/fonts/NanumGothic/NanumGothic.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NanumGothic/NanumGothic.woff) format('woff'), url(/fonts/NanumGothic/NanumGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NanumGothic/NanumGothicBold.eot);
  src: url(/fonts/NanumGothic/NanumGothicBold.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NanumGothic/NanumGothicBold.woff) format('woff'), url(/fonts/NanumGothic/NanumGothicBold.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/NanumGothic/NanumGothicExtraBold.eot);
  src: url(/fonts/NanumGothic/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype');
  src: url(/fonts/NanumGothic/NanumGothicExtraBold.woff) format('woff'), url(/fonts/NanumGothic/NanumGothicExtraBold.ttf) format('truetype');
}

/* reset
---------- ---------- ---------- ---------- ---------- */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'NotoSansKR-Regular-Hestia', 'Roboto-Regular', -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', 'Segoe UI',
    'Roboto', 'Helvetica Neue', 'Arial, Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

fieldset,
img {
  border: 0 none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

ul,
li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

/* invisible
---------- ---------- ---------- ---------- ---------- */
.invisible {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  line-height: 0;
  text-indent: -9999px;
}

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* outer_cell
---------- ---------- ---------- ---------- ---------- */
.outer_cell {
  display: table;
  height: 100%;
}

.inner_cell {
  display: table-cell;
  vertical-align: middle;
}

/* group_half
---------- ---------- ---------- ---------- ---------- */
.group_half {
  font-size: 0;
}

.inner_half {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
}

/* group_triple
---------- ---------- ---------- ---------- ---------- */
.group_triple {
  font-size: 0;
}

.inner_triple {
  display: inline-block;
  width: 33.33333333333333%;
  padding-left: 24px;
  box-sizing: border-box;
  vertical-align: top;
}

/* inner_global
---------- ---------- ---------- ---------- ---------- */
.inner_global {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* icon
---------- ---------- ---------- ---------- ---------- */
.icon_global {
  display: inline-block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  background-image: url(/images/common/icon_global.png);
  background-repeat: no-repeat;
  background-size: 160px auto;
  vertical-align: middle;
}

/* button
---------- ---------- ---------- ---------- ---------- */
.button_global {
  display: inline-block;
  border: 0 none;
  box-sizing: border-box;
  font-family: 'NotoSansKR-Regular-Hestia';
  font-size: 14px;
  line-height: 1;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.button_default {
  min-width: 120px;
  padding: 16px;
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
}

/* link
---------- ---------- ---------- ---------- ---------- */
.link_global {
}

.link_default {
}

/*
.button_global {
  display: inline-block;
  padding: 12px 12px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  vertical-align: top;
  line-height: 1;
}

.button_utility .icon_global {
  width: 30px;
  height: 30px;
}

.button_profile .icon_global {
  background-position: -35px 0;
}

.button_login .icon_global {
  background-position: -70px 0;
}

.button_logout .icon_global {
  background-position: -105px 0;
}

.button_register .icon_global {
  background-position: -105px -35px;
}

.button_hamburger .icon_global {
  background-position: 0 0;
}

.button_close .icon_global {
  background-position: -35px -35px;
}
*/
